.blog{
   

    .conteudo{
        margin: 4em 4em  4em 9em ;
    }

    p{
        margin: 1em;
    }

    img{
        width: 200px;
    }

    .prop-log{
        display: flex;
        flex-direction: row;
    }


}