
.nav{
    background-color: rgb(225, 255, 191); 
    img{
        max-width: 4%;
        
    
    }

    
.lista{
    padding: 2em 8em;    
    display: flex;
    align-items: center;
    gap: 3em;
    list-style-type: none;
    font-size:large;
    width: 100% ;

}


}
